*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-bottom:2px solid rgb(120, 120, 120);
}
nav{
    background-color: #f2f2f2;
    border-bottom:2px solid rgb(120, 120, 120);
}
