*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border-bottom:2px solid rgb(120, 120, 120);
}
nav{
    background-color: #f2f2f2;
    border-bottom:2px solid rgb(120, 120, 120);
}
#texternaplussbilder{
    padding: 20px;
    background-image: url('backdrop.jpg');
    background-color: rgba(255, 255, 255, 0.648);
    background-blend-mode: lighten;
    background-size: cover;
    align-items: column;
}
#text1{
    margin:20px;
    border:2px solid rgb(120, 120, 120);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}